<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia speedrun</title>
</head>

<body>
    <div>
        <h1><a href="/">HOME</a></h1>

        <h3><%= article.title %></h3>

        <ul>
            <% article.edges.sort().forEach((edge) => { %>
            <li><a href="/play/<%= currentArticleEdges[edge]._id %>"><%= edge %></a> has
                <%= currentArticleEdges[edge].edges.length %> links
            </li>
            <% }); %>
        </ul>

    </div>

    <div>
        <h5>
            Hints:
            <% if (hints > 3) { %>
            unlimited
            <% } else { %>
            <%= hints %>
            <% } %>
        </h5>
        <p>HINT: <%= userVisibleHint  %> </p>

        <form action="/play/<%= article._id %>" method="get">
            <input type="hidden" name="hints" value="-1">
            <!-- If there are 0 hints left, display the disabled button -->
            <% if (hints == 0) { %>
            <button type="submit" disabled>Get Hint</button>
            <% } else { %>
            <button type="submit">Get Hint</button>
            <% } %>
        </form>

        <form action="/finish" method="get">
            <input type="hidden" name="surrender" value="true">
            <button type="submit">Surrender</button>
        </form>
    </div>

    <footer>
        <div>How it works?</div>
        <a href="https://github.com/lukaabra">Luka Abramovic</a>
    </footer>
</body>

</html>