<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia speedrun</title>
</head>

<body>
    <div>
        <% if (gameData.surrendered) { %>
        <h1>You surrendered!</h1>
        <% } else { %>
        <h1>Congrats <%= gameData.userName %>! You finished!</h1>
        <% } %>
    </div>

    <div>
        <h2>Your starting article was: <%= gameData.startingArticle %></h2>

        <h4>Your time: <%= gameData.totalRunTime %></h4>

        <h4>Your steps: <%= gameData.userSteps %> </h4>
        <h4>Minimum possible steps: <%= gameData.minPossibleSteps %></h4>

        <h4>Your score: <%= gameData.userScore %></h4>

        <h5>Your path: </h5>
        <ul>
            <% gameData.userPath.forEach((node) => { %>
            <li> <%= node %> </li>
            <% }) %>
        </ul>

        <h5>The shortest path was:</h5>
        <ul>
            <% gameData.shortestPath.reverse().forEach((node) => { %>
            <li> <%= node %> </li>
            <% }) %>
        </ul>



    </div>

    <div>
        <a href="/">Home</a>
        <a href="/topscores">Top scores</a>
    </div>

    <footer>
        <div>How it works?</div>
        <a href="https://github.com/lukaabra">Luka Abramovic</a>
    </footer>
</body>

</html>