<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia speedrun</title>
</head>

<body>
    <div>
        <% if (surrender) { %>
        <h1>You surrendered!</h1>
        <% } else { %>
        <h1>You finished!</h1>
        <% } %>
    </div>

    <div>
        <h2>Your starting article was: <%= startingArticle %></h2>
        <h4>Your score: <%= userScore %> </h4>
        <h4>Best possible score: <%= bestPossibleScore %></h4>
        <h5>Your path: </h5>
        <ul>
            <% userPath.forEach((node) => { %>
            <li> <%= node %> </li>
            <% }) %>
        </ul>
        <h5>The shortest path was:</h5>
        <ul>
            <% shortestPath.reverse().forEach((node) => { %>
            <li> <%= node %> </li>
            <% }) %>
        </ul>
    </div>

    <div>
        <a href="/">Home</a>
        <a href="/topscore">Top scores</a>
    </div>

    <footer>
        <div>How it works?</div>
        <a href="https://github.com/lukaabra">Luka Abramovic</a>
    </footer>
</body>

</html>