<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia speedrun</title>
</head>

<body>

    <div>
        <h1><a href="/">Home</a></h1>
    </div>

    <div>
        <h5>Top scores:</h5>
        <table>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Steps</th>
                <th>Min possible steps</th>
                <th>Starting article</th>
                <th>Total score</th>
            </tr>
            <% scores.forEach((score) => { %>
            <tr>
                <td> <%= score.name %> </td>
                <td> <%= score.time %> </td>
                <td> <%= score.steps %> </td>
                <td> <%= score.minPossibleSteps %> </td>
                <td> <%= score.startingArticle %> </td>
                <td> <%= score.score %> </td>
            </tr>
            <% }) %>
        </table>
    </div>

    <footer>
        <div>How it works?</div>
        <a href="https://github.com/lukaabra">Luka Abramovic</a>
    </footer>
</body>

</html>